<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {# 网页title块 #}
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {# 网页顶部引入文件块 #}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    $(function () {
        update_all_goods_info()
        update_cart_count()
        // 计算所有商品的小计以及商品总计和总数目
        function update_all_goods_info() {
            // 保存所有商品的总数目和总计
            goods_total_count = 0
            goods_total_price = 0
            // 遍历商品ul,要求ul中的checkbox处于选中状态
            // $('.cart_list_td').find(':checked')->找到所有被选中的checkbox元素
            // $('.cart_list_td').find(':checked').parents('ul')
            $('.cart_list_td').find(':checked').parents('ul').each(function () {
                /*
                // 1.获取商品的价格和数量
                goods_price = $(this).children('.col05').text()
                goods_price = parseFloat(goods_price)
                goods_count = $(this).find('.num_show').val()
                goods_count = parseInt(goods_count)
                // 2.计算小计
                total_price = goods_price*goods_count
                // 3.设置商品小计
                $(this).children('.col07').text(total_price.toFixed(2)+'元')*/
                // 调用函数计算商品的小计
                res_dict = update_goods_info($(this))
                // 4.累加
                goods_total_count += res_dict['goods_count']
                goods_total_price += res_dict['total_price']
            })
            // 设置商品的总数目和总计
            $('.settlements').find('em').text(goods_total_price.toFixed(2))
            $('.settlements').find('b').text(goods_total_count)
        }

        // 计算商品的小计
        function update_goods_info(goods_ul) {
            // 1.获取商品的价格和数量
                goods_price = goods_ul.children('.col05').text()
                goods_price = parseFloat(goods_price)
                goods_count = goods_ul.find('.num_show').val()
                goods_count = parseInt(goods_count)
                // 2.计算小计
                total_price = goods_price*goods_count
                // 3.设置商品小计
                goods_ul.children('.col07').text(total_price.toFixed(2)+'元')
                return {'goods_count':goods_count, 'total_price':total_price}
        }

        // 更新页面上购物车中商品的总数
        function update_cart_count() {
            $.get('/cart/count', function (data) {
                // {'res':商品总数}
                $('.total_count').children('em').text(data.res)
            })
        }

        // 商品的全选和全不选
        $('.settlements').find(':checkbox').change(function () {
            // 1.获取全选checkbox的选中状态
            is_checked = $(this).prop('checked')
            // alert(is_checked)
            // 遍历商品ul中的checkbox,设置这些checkbox的选中状态和全选checkbox的选中状态一致
            $('.cart_list_td').find(':checkbox').each(function () {
                $(this).prop('checked', is_checked)
            })
            // 更新商品总计和总数目
            update_all_goods_info()
        })

        // 商品ul中checkbox状态发生改变时，全选checkbox随之改变
        $('.cart_list_td').find(':checkbox').change(function () {
            // 1.获取商品ul中所有checkbox的数目
            all_len = $('.cart_list_td').find(':checkbox').length
            // 2.获取商品ul中被选中的checkbox的数目
            checked_len = $('.cart_list_td').find(':checked').length
            //alert(all_len+":"+checked_len)
            if (checked_len < all_len){
                // 设置全选checkbox为不选中状态
                $('.settlements').find(':checkbox').prop('checked', false)
            }
            else
            {
                // 设置全选checkbox为选中状态
                $('.settlements').find(':checkbox').prop('checked', true)
            }
            // 更新商品总计和总数目
            update_all_goods_info()
        })

        error_update = false
        function update_remote_cart_info(goods_id, goods_count) {
            // 设置发起同步ajax请求
            $.ajaxSettings.async = false
            $.get('/cart/update/?goods_id='+goods_id+'&goods_count='+goods_count, function (data) {
                // 更新成功 {'res':1} 更新失败　{'res':0}
                if (data.res == 0){
                    error_update = true
                }
                else
                {
                    error_update = false
                }
            })
            // 设置发起异步ajax请求
            $.ajaxSettings.async = true
        }

        // 购物车中商品数目的增加
        $('.add').click(function () {
            // 1.获取商品的数目和商品id
            goods_count = $(this).next().val()
            goods_id = $(this).next().attr('goods_id')
            // alert(goods_count)
            // 2.商品数目加1
            goods_count = parseInt(goods_count)+1
            // 3.更新数据库中的信息
            // 发起一个ajax请求，更新购物车对应商品数目，携带两个参数
            // 一个是goods_id,另一个是goods_count
            update_remote_cart_info(goods_id, goods_count)
            if (error_update == false)
            {
                // 3.设置商品数目
                $(this).next().val(goods_count)
                // 4.获取当前商品ul中checkbox的选中状态
                is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
                if (is_checked){
                    // 更新商品的小计，总计和总数目
                    update_all_goods_info()
                }
                else
                {
                    // 只需要更新商品的小计
                    update_goods_info($(this).parents('ul'))
                }
                // 刷新页面上购物车商品的总数
                update_cart_count()
            }

        })

        // 购物车中商品数目的减少
        $('.minus').click(function () {
            // 1.获取商品的数目和商品id
            goods_count = $(this).prev().val()
            goods_id = $(this).prev().attr('goods_id')
            // alert(goods_count)
            // 2.商品数目减1
            goods_count = parseInt(goods_count)-1
            if (goods_count > 0) {
                // 3.更新数据库中的信息
                // 发起一个ajax请求，更新购物车对应商品数目，携带两个参数
                // 一个是goods_id,另一个是goods_count
                update_remote_cart_info(goods_id, goods_count)
                if (error_update == false)
                {
                    // 3.设置商品数目
                    $(this).prev().val(goods_count)
                    // 4.获取当前商品ul中checkbox的选中状态
                    is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
                    if (is_checked){
                        // 更新商品的小计，总计和总数目
                        update_all_goods_info()
                    }
                    else
                    {
                        // 只需要更新商品的小计
                        update_goods_info($(this).parents('ul'))
                    }
                    // 刷新页面上购物车商品的总数
                    update_cart_count()
                }
            }
        })

        // 保存编辑前商品的数目
        pre_goods_count = 0
        $('.num_show').focus(function () {
            pre_goods_count = $(this).val()
        })

        // 手动输入购物车中商品数目
        $('.num_show').blur(function () {
            // 1.获取商品的数目和商品id
            goods_count = $(this).val()
            goods_id = $(this).attr('goods_id')
            // alert(goods_count)
            if (isNaN(goods_count)||goods_count.trim().length==0||parseInt(goods_count)<=0){
                // 设置为原来的数目
                $(this).val(pre_goods_count)
            }
            else{
                // 3.更新数据库中的信息
                // 发起一个ajax请求，更新购物车对应商品数目，携带两个参数
                // 一个是goods_id,另一个是goods_count
                update_remote_cart_info(goods_id, parseInt(goods_count))
                if (error_update == false)
                {
                    // 3.设置商品数目
                    $(this).val(parseInt(goods_count))
                    // 4.获取当前商品ul中checkbox的选中状态
                    is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
                    if (is_checked){
                        // 更新商品的小计，总计和总数目
                        update_all_goods_info()
                    }
                    else
                    {
                        // 只需要更新商品的小计
                        update_goods_info($(this).parents('ul'))
                    }
                    // 刷新页面上购物车商品的总数
                    update_cart_count()
                }
                else
                {
                    $(this).val(pre_goods_count)
                }
            }
        })

        // 删除购物车记录信息
        $('.cart_list_td').children('.col08').children('a').click(function () {
            // 从购物车删除这条记录
            // 1.获取点击商品的goods_id
            goods_ul = $(this).parents('ul')
            goods_id = goods_ul.find('.num_show').attr('goods_id')
            //alert(goods_id)
            // 2.发起一个请求，携带参数goods_id
            $.get('/cart/del/?goods_id='+goods_id, function (data) {
                // 删除成功 {'res':1 } 删除失败 {'res':0}
                if (data.res == 1)
                {
                    // 从页面上商品删除ul
                    goods_ul.remove()
                    // 获取goods_ul中checkbox的选中状态
                    is_checked = goods_ul.find(':checkbox').prop('checked')
                    if (is_checked){
                        update_all_goods_info()
                    }
                    update_cart_count()
                }
            })

        })
    })
    </script>
{% endblock topfiles %}
</head>
<body>
{# 网页顶部欢迎信息块 #}
{% block header_con %}
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {% if request.session.islogin %}
				<div class="login_btn fl">
					欢迎您：<em>{{ request.session.username }}</em>
                    <span>|</span>
					<a href="/user/logout/">退出</a>
				</div>
                    {% else %}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>
{% endblock header_con %}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
            <form method="get" action="/search/">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>

		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>
{% endblock search_bar %}
{# 网页主体内容块 #}
{% block body %}{% endblock body %}

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
    {# 网页底部html内容块 #}
    {% block bottom %}{% endblock bottom %}
    {# 网页底部引入文件块 #}
	{% block bottomfiles %}{% endblock bottomfiles %}
    {#獲取購物車中商品的數量#}
    {% block cart_count %}
        <script>
            $(function () {
                index = $('.login_btn').text().indexOf('登录')
                if(index < 0){
                    // 已登錄
                    // 发起一个ajax请求获取用户购物车商品的总数
                    $.get('/cart/count/',function (data) {
                        // 返回購物車中數目  返回形式{'res':商品總數}
                        $('#show_count').text(data.res)
                    })
                }
            })
        </script>
    {% endblock cart_count %}

</body>
</html>
